<%= form_with(model: habit_record, local: true) do |form| %>
  <% if habit_record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(habit_record.errors.count, "error") %> prohibited this habit_record from being saved:</h2>

      <ul>
        <% habit_record.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :habit_id %>
    <%= form.text_field :habit_id %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date %>
  </div>

  <div class="field">
    <%= form.label :done %>
    <%= form.number_field :done %>
  </div>

  <div class="field">
    <%= form.label :count %>
    <%= form.text_field :count %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
