<p id="notice"><%= notice %></p>

<h1>Habit Records</h1>

<table>
  <thead>
    <tr>
      <th>Userid</th>
      <th>Habit no</th>
      <th>Habit</th>
      <th>Date</th>
      <th>Done</th>
      <th>Count</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @habit_records.each do |habit_record| %>
      <tr>
        <td><%= habit_record.userid %></td>
        <td><%= habit_record.habit_no %></td>
        <td><%= habit_record.habit %></td>
        <td><%= habit_record.date %></td>
        <td><%= habit_record.done %></td>
        <td><%= habit_record.count %></td>
        <td><%= link_to 'Show', habit_record %></td>
        <td><%= link_to 'Edit', edit_habit_record_path(habit_record) %></td>
        <td><%= link_to 'Destroy', habit_record, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Habit Record', new_habit_record_path %>
