<%= form_with(model: project_list, local: true) do |form| %>
  <% if project_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project_list.errors.count, "error") %> prohibited this project_list from being saved:</h2>

      <ul>
        <% project_list.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :personal_project_id %>
    <%= form.text_field :personal_project_id %>
  </div>

  <div class="field">
    <%= form.label :project %>
    <%= form.text_field :project %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
