<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @project_list.user_id %>
</p>

<p>
  <strong>Personal project:</strong>
  <%= @project_list.personal_project_id %>
</p>

<p>
  <strong>Project:</strong>
  <%= @project_list.project %>
</p>

<%= link_to 'Edit', edit_project_list_path(@project_list) %> |
<%= link_to 'Back', project_lists_path %>
