<p id="notice"><%= notice %></p>

<p>
  <strong>Class1:</strong>
  <%= @todo_list.class1 %>
</p>

<p>
  <strong>Class2:</strong>
  <%= @todo_list.class2 %>
</p>

<p>
  <strong>Todo no:</strong>
  <%= @todo_list.todo_no %>
</p>

<p>
  <strong>Project no:</strong>
  <%= @todo_list.project_no %>
</p>

<p>
  <strong>Todo:</strong>
  <%= @todo_list.todo %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @todo_list.deadline %>
</p>

<%= link_to 'Edit', edit_todo_list_path(@todo_list) %> |
<%= link_to 'Back', todo_lists_path %>
