<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @todo_list.user_id %>
</p>

<p>
  <strong>Personal todo:</strong>
  <%= @todo_list.personal_todo_id %>
</p>

<p>
  <strong>Todo:</strong>
  <%= @todo_list.todo %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @todo_list.deadline %>
</p>

<p>
  <strong>Project:</strong>
  <%= @todo_list.project_id %>
</p>

<p>
  <strong>Category:</strong>
  <%= @todo_list.category %>
</p>

<%= link_to 'Edit', edit_todo_list_path(@todo_list) %> |
<%= link_to 'Back', todo_lists_path %>
