<h1>Motiva</h1>
<%= link_to "sign_in", "/sign_in" %>
<br>
<%= link_to "sign_out", '/sign_out' %>
<br>
<%= link_to "register", new_user_registration_path %>
<br>
<br>
<%= link_to 'ToDoリスト', 'todo_lists/' %>
<%= link_to 'WORK', 'project_lists/' %>
<%= link_to 'LIFE', 'habit_lists/' %>
