<p id="notice"><%= notice %></p>

<h1>Project Lists</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Personal project</th>
      <th>Project</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @project_lists.each do |project_list| %>
      <tr>
        <td><%= project_list.user_id %></td>
        <td><%= project_list.personal_project_id %></td>
        <td><%= project_list.project %></td>
        <td><%= link_to 'Show', project_list %></td>
        <td><%= link_to 'Edit', edit_project_list_path(project_list) %></td>
        <td><%= link_to 'Destroy', project_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project List', new_project_list_path %>
