<%= form_with(model: habit_list, local: true) do |form| %>
  <% if habit_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(habit_list.errors.count, "error") %> prohibited this habit_list from being saved:</h2>

      <ul>
        <% habit_list.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :userid %>
    <%= form.number_field :userid %>
  </div>

  <div class="field">
    <%= form.label :habit_no %>
    <%= form.number_field :habit_no %>
  </div>

  <div class="field">
    <%= form.label :habit %>
    <%= form.text_field :habit %>
  </div>

  <div class="field">
    <%= form.label :count %>
    <%= form.number_field :count %>
  </div>

  <div class="field">
    <%= form.label :donehabit %>
    <%= form.number_field :donehabit %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
