<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @habit_list.user_id %>
</p>

<p>
  <strong>Personal habit:</strong>
  <%= @habit_list.personal_habit_id %>
</p>

<p>
  <strong>Habit:</strong>
  <%= @habit_list.habit %>
</p>

<p>
  <strong>Habituation:</strong>
  <%= @habit_list.habituation %>
</p>

<%= link_to 'Edit', edit_habit_list_path(@habit_list) %> |
<%= link_to 'Back', habit_lists_path %>
