<p id="notice"><%= notice %></p>

<p>
  <strong>Userid:</strong>
  <%= @habit_list.userid %>
</p>

<p>
  <strong>Habit no:</strong>
  <%= @habit_list.habit_no %>
</p>

<p>
  <strong>Habit:</strong>
  <%= @habit_list.habit %>
</p>

<p>
  <strong>Count:</strong>
  <%= @habit_list.count %>
</p>

<p>
  <strong>Donehabit:</strong>
  <%= @habit_list.donehabit %>
</p>

<%= link_to 'Edit', edit_habit_list_path(@habit_list) %> |
<%= link_to 'Back', habit_lists_path %>
