<%= form_with(model: project_todo, local: true) do |form| %>
  <% if project_todo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project_todo.errors.count, "error") %> prohibited this project_todo from being saved:</h2>

      <ul>
        <% project_todo.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :project_id %>
    <%= form.text_field :project_id %>
  </div>

  <div class="field">
    <%= form.label :todo_id %>
    <%= form.text_field :todo_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
