<p id="notice"><%= notice %></p>

<h1>Project Todos</h1>

<table>
  <thead>
    <tr>
      <th>Project</th>
      <th>Todo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @project_todos.each do |project_todo| %>
      <tr>
        <td><%= project_todo.project_id %></td>
        <td><%= project_todo.todo_id %></td>
        <td><%= link_to 'Show', project_todo %></td>
        <td><%= link_to 'Edit', edit_project_todo_path(project_todo) %></td>
        <td><%= link_to 'Destroy', project_todo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project Todo', new_project_todo_path %>
