<p id="notice"><%= notice %></p>

<p>
  <strong>Project:</strong>
  <%= @project_todo.project_id %>
</p>

<p>
  <strong>Todo:</strong>
  <%= @project_todo.todo_id %>
</p>

<%= link_to 'Edit', edit_project_todo_path(@project_todo) %> |
<%= link_to 'Back', project_todos_path %>
