<p id="notice"><%= notice %></p>

<h1>Habit Histories</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @habit_histories.each do |habit_history| %>
      <tr>
        <td><%= link_to 'Show', habit_history %></td>
        <td><%= link_to 'Edit', edit_habit_history_path(habit_history) %></td>
        <td><%= link_to 'Destroy', habit_history, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Habit History', new_habit_history_path %>
